@font-face {
    font-family: productSans;
    src: url(../assets/font/regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: productSans;
    src: url(../assets/font/bold.woff2);
    font-weight: 600;
}

* {
    font-family: productSans;
    user-select: none;
    -webkit-user-select: none;
}

body {
    width: 100%;
    height: 100%;
}

.body-image {
    width: 100%;
    height: calc(100% - 2.5rem);
    object-fit: cover;
    margin-top: -20px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.navbar-bottom {
    background-color: white;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

.info {
    min-width: 8rem;
    width: 8rem;
    height: 10rem;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0.582);
    backdrop-filter: blur(0.2px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease-in-out;
    transition-property: box-shadow, transform;
}

.info:hover {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.info > h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.info-div {
    padding: 25px;
    overflow-x: scroll;
}

.city-name {
    font-size: calc(3.5rem + 1.5vw);
    position: relative;
    user-select: none;
}

.weather-condition {
    font-size: calc(2rem + 1vw);
}

.svg {
    width: 25rem;
    height: 25rem;
    transition: 0.3s transform ease-in-out;
}

.svg:hover {
    transform: scale(1.2);
}

.svgSecondInfo {
    height: 3.5rem;
}

.btn-outline-info {
    border: none;
    transition: 0.2s ease-in-out;
    transition-property: box-shadow, transform;
    color: rgb(42, 74, 180);
}

.btn-outline-info:hover {
    background: linear-gradient(90deg, rgba(113,182,164,1) 0%, rgba(167,240,255,1) 100%);
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.image-navbar-container {
    display: block;
    position: relative;
}

.title-action {
    font-size: calc(1rem + 3.5vw);
    font-weight: 600;
    margin: none;
    user-select: none;
    animation: animation 0.3s ease-in-out;
}

.web-title {
    font-weight: 700;
    user-select: none;
}

.gradient-waiting-result {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.error-location {
    background: linear-gradient(-45deg, #f1dcd5, #ff9ea2, #d32c2c, #770000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}

.d-flex-form {
    column-gap: 10px;
    justify-content: space-between;
}

.waiting-location {
    background: linear-gradient(-45deg, #97ffd4, #00ffd5, #00bbff, #86acff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.dot {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}

.dot:nth-child(2) {
    animation-delay: .2s;
}

.dot:nth-child(3) {
    animation-delay: .4s;
}

.container-rectangle {
    margin-top: 30px;
    padding: 30px;
    border-radius: 10px;
    border-top-left-radius: 60px;
    width: 90%;
    height: 85%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.582) 0%, rgba(161, 161, 161, 0.432) 100%);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    backdrop-filter: blur(0.5px);
}

.form-control {
    user-select: initial;
    -webkit-user-select: initial;
}

.weather-at-a-glance {
    justify-content: space-between;
    flex: 2;
    display: flex;
}

#weather-rectangle {
    display: flex;
    flex-direction: column;
}

@keyframes animation{
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media only screen and (max-width: 600px) {

    .city-name {
        font-size: 2.5rem;
    }

    .weather-condition {
        font-size: 1.5rem;
    }

    .weather-at-a-glance {
        display: block;
    }

    .web-title {
        display: none;
    }

    .svg {
        height: 10rem;
        width: 10rem;
    }

    .container-rectangle {
        justify-content: unset;
        display: block;
    }

    .d-flex-form {
        justify-content: flex-end;
    }

    .form-control {
        width: 50%;
        transition: width 0.3s ease-in-out;
    }

    .form-control:focus {
        width: 100%;
    }

    .navbar > .container-fluid {
        flex-wrap: initial;
    }
}

@media only screen and (max-height: 570px) {

    .info {
        height: 100%;
    }

    .info > h5 {
        font-size: 1rem;
    }

    .info > h3 {
        font-size: 1.2rem;
    }

    .svgSecondInfo {
        height: 3rem;
    }

    .svg {
        display: none;
    }
}